<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>서류 탈락 안내</title>
</head>
<body>
    <div style="font-family: Arial, sans-serif; line-height: 1.6;">
        <h2>안녕하세요, {이메일_받는_사람_이름}님</h2>
        <p>
            지원해주셔서 감사드립니다. {금번_채용_공고명}에 지원해주셨으나, 서류 심사 결과 탈락되었음을 알려드립니다.
        </p>
        <p>
            채용 프로세스에서 다른 지원자들과 경쟁이 치열하였기에 선발되지 못한 점 양해 부탁드립니다.
        </p>
        <p>
            더 나은 기회가 있을 수 있으니 지원해주셨던 노력과 열정을 다른 기회에서 발휘하시기를 기원합니다.
        </p>
        <p>
            궁금하신 사항이나 피드백이 있으시면 언제든지 저희에게 연락 주시기 바랍니다.
        </p>
        <p>
            감사합니다. 더 나은 결과를 기원합니다.
        </p>
        <p>인사담당자 드림</p>
    </div>
</body>
</html>
