<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>1차 면접 안내</title>
</head>
<body>
    <div style="font-family: Arial, sans-serif; line-height: 1.6;">
        <h2>안녕하세요, {이메일_받는_사람_이름}님!</h2>
        <p>
            지원해주셔서 감사합니다. {금번_채용_공고명}의 {몇차_채용인지}에 진행되는 1차 면접에 초대드리고자 합니다.
        </p>
        <p>
            아래는 면접 일정 안내입니다:
            <ul>
                <li>면접 날짜: {다음_인터뷰_날짜}</li>
                <li>면접 시간: [면접 시간을 입력해주세요]</li>
                <li>면접 장소: [면접 장소를 입력해주세요]</li>
            </ul>
        </p>
        <p>
            준비하실 내용과 준비물에 대해서는 나중에 따로 안내드리겠지만, 필요하신 사항이 있으시면 언제든지 문의해주세요.
        </p>
        <p>
            면접 일정에 참석해주시기 바랍니다. 부득이하게 참석이 어려우신 경우, 연락을 미리 주시면 다른 일정 조정을 도와드리도록 하겠습니다.
        </p>
        <p>
            감사합니다. 면접 때 뵙겠습니다!
        </p>
        <p>좋은 하루 보내세요.</p>
        <p>인사담당자 드림</p>
    </div>
</body>
</html>
